::-webkit-scrollbar {

width: 5px;
background-color: transparent;
}

::-webkit-scrollbar-thumb {
border-radius: 5px;
background-color: black;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.2);*/
border-radius: 5px;
background-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

    font-size: 18px;
    line-height: 1.6;
    color: black;
    
}


*,
*:befor,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4{
    margin: 0;
}


/*контейнер*/


.container{
    max-width: 940px;
    width: calc(100vw - 60px);
    margin:0 auto;
}


/* header */

header{
    margin-bottom: 100px;
   }

.nav{
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    border-bottom: 1px solid black;
}



.nav > a{
    text-decoration: none;
    color: #828282;
    transition: all .4s;
}

.nav > a:hover{
    color:black;
    text-decoration: underline;
}



.self{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0px 0px;
    align-items: flex-end;
    grid-gap: 2.5em 0;
    font-weight: 700;
}

.self_name{
    font-size: 47px;
}



.self_switch{
    font-size: 16px;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-transform: uppercase;
    cursor: default;
}

.active{
    cursor: pointer;
    color: black;
    font-weight: 900;
}

.noact{
    color: #828282;
}

.self_img{
    width: 100%;
    height: calc(Min(100vw, 940px) / 2.4);
    background-image: url(img/me.jpeg);
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: cover;
}








/* 1 section */

.about{
	display: flex;
	padding: 100px 0;
	flex-direction: column;
	justify-content: center;
	width: 100%;
    text-align: center;
	

	background: #f6f6f6;
	background-size: cover;
}

.about > .container {
    text-align: center;
    max-width: 480px;
}

.about_sup{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.about_text{
    margin: 0 0 2.5em;
}

.about_text:last-child{
    margin-bottom: 0;
}







/* skills */

.skill{
    padding: 100px 0;
}

.skill_sup{
    font-weight: 700;
    text-align: center;
    
}

.skill_text{
    
    text-align: center;
    margin: 80px 0;
}

.skill_prog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills__item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills__name{
    margin: 1.5em 0 2.5em;
    width: 90px;
    flex: 1 1 auto;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}



/* портфолио */



.port_text{
    margin: 0 0 60px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

.portfolio_items{
    margin: 0 0 100px;
}
.portfolio_items:last-child{
    margin: 0;
}

.port_img{
    display: block;
    width: 100%;
    right: 0;
}

.sup_port{
    margin: 45px 0 0;
    text-decoration: underline;
}



/* footer */
.contacts{
    padding: 100px 0;
}

.contacts .container{
    max-width: 470px;
}

.con_sup{
    margin: 0 0 24px;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
}

.con_title{
    text-align: center;
    margin: 0 0 45px;
}

.con_button{
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}



.contacts_btn{
    margin: 0 auto;
    padding: 13px 28px;
    width: auto;
    color: #fff;
    font-weight: 700;
    border-radius: 2em;
    background-color: #070707;
    transition: all .3s;
}

.contacts_btn:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border: 2px solid black;
}

.con_icon{
    display: flex;
    justify-content: space-around;
    margin: 90px 0 45px;
}

.con_sub{
    text-align: center;
    color: #828282;
    font-size: 14px;
}

.eshe{
    display: none;
}
@media screen and (max-width: 678px){

    .eshe{
        position: absolute;
        display: block;
        top:5%;
        right: 5%;
        width: 33px;
        height: 20px;
        cursor: pointer;
        z-index: 1000;
    }

    .up, .down ,.mid{
        display: block;
        width: 100%;
        height: 4px;
        background-color: black;
    }

    .up, .mid{
        margin-bottom: 4px;
    }



    .uper{
        display: block;
        width: 100%;
        height: 4px;
        background-color: blue;
        z-index: 2000;
    }

    .contax{
        max-width: 100vw;
        margin: 0;
        width: 100%;
        /* max-width: calc(100vw - 60px); */
        /* margin: 0 auto; */
    }
    .nav{
        transition: all .3s;
        z-index: 800;
        overflow: auto;
        position: absolute;
        height: 100vh;
        width: 100%;
        transform: translate(-110%,0px);
        display: block;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 700;
        background-color: rgb(0,0,0);
    }

    
    .kuki{
        display: none;
        width: 40px;
        height: 40px;
        
        position: absolute;
        top:26px;
        right: 5%;
        z-index: 1200;
    }
    
    
    
    
    .nav > a{
        
        margin-top: 10%;
        margin-left: 10%;
        width: 70%;
        display: block;
        text-decoration: none;
        color: white;
        letter-spacing: 5px;
        font-size: 23px;
    }

    
    .self{
        display: block;
    }
    
    .self_bio{
        text-align: right;
        margin-bottom: 20px;
    }

    .self_switch{display: none;}

    .self_img {
        height: 478px;
        background-position: center;
    }


    .skill_text{
        margin: 30px 0 50px;
    }

    .skills__name{
        margin: 21px 0;
    }

    .skill_prog{
        flex-wrap: wrap;
    }

    .skills__item{
        width: 100%;
        margin-bottom: 70px;
    }

    .about, .contacts, .skill{
        padding: 50px 0;
    }

    }
